@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: "Meiryo";
}

.fix{
    clear: both;
    overflow: hidden;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #f8f8f8;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
}

header div {
    float: left;
    width: 30%;
    height: 100px;
    margin: 0;
    padding: 5px;
}

header div a {
    display: block;
    height: 90px;
    position: relative;
}

header div a img {
    height: 90px;
}

header div h1 {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 100px;
    color: skyblue;
}

header nav {
    float: right;
    width: 70%;
    padding: 0;
    margin: 0;
    height: 100%;
}

header nav ul {
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
    height: 100%;
}

header nav ul li {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    border: 1px solid skyblue;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

header nav ul li:last-child{
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
}


header nav ul li a{
    display: block;
    padding: 18px;
    width: 100%;
    text-decoration-line: none;
    color: #222;
}

#wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}

#header_blank {
    height: 100px;
    width: 100%;
}

#wrapper #main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main_title {
    text-align: center;
    padding: 0;
    margin: 50px auto;
    color:  #222;
}

/* index.html start*/
#top_photo {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#top_photo img{
    width: 100%;
    vertical-align: middle;
}

#hello {
    width: 70%;
    background: white;
    margin: 50px auto 0;
    padding: 50px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0,0,0,0.125);

}

#hello h1 {
    color: #222;
}

#hello h3 {
    margin: 0;
    color: #222;
}

#newsguide {
    width: 70%;
    margin: 50px auto 0;
    height: 400px;
}

#news {
    float: left;
    width: 29%;
    background: white;
    margin-right: 1%;
    height: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0,0,0,0.125);
    padding: 25px;
    color:  #222;
}

#news ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#guide {
    float: left;
    width: 69%;
    background: white;
    margin-left: 1%;
    height: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0,0,0,0.125);
    padding: 25px;
    color:  #222;
}

#guide ol {
    list-style: none;
    padding-left: 1em;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 0;
}

#guide ol li {
    padding-left: 1em;
}
/* index.html start*/

/* guide.html start */
#g_guide {
    width: 70%;
    margin: 50px auto 0;
    background: white;
    padding: 25px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0,0,0,0.125);
    color:  #222;
}

#g_guide dl {
    height: auto;
}

#g_guide dl dt {
    float: left;
    width: 20%;
    padding: 10px 0 5px;
}

#g_guide dl dd {
    float: left;
    width: 80%;
    margin: 0;
    padding: 10px 0 5px;
}

#g_first {
    width: 70%;
    margin: 50px auto 0;
    background: white;
    padding: 25px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0,0,0,0.125);
    color:  #222;
}

#g_first ol {
    list-style-type: none;
}

#g_first ol li {
    padding-left: 1em;
    padding: 10px 0 5px;
}
/* guide.html start */

/* access.html start */
#a_map {
    width: 100%;
    margin: 50px auto 0;
    background: white;
    padding: 100px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color:  #222;
}

#image {
    width: 60%;
    float:left;
    height: 400px;
    background: black;
}

#image img {
}

#detail {
    width: 40%;
    float: left;
    padding: 30px;
}

#detail #adress dl dt{
    float: left;
}

#detail #adress dl dd{
    float: left;
    padding-left: 1em;
    margin: 0;
}

#detail #route dl dt{
    padding: 10px 0 5px;
}

#detail #route dl dd{
    padding: 10px 0 5px;
}

/* access.html end */

.call {
    width: 70%;
    border: 1px solid skyblue;
    margin: 50px auto 50px;
    border-radius: 5px;
}

.call #call_title{
    margin: 0;
    text-align: center;
    padding: 50px 0 25px 0;
    color:  #222;
}

.call #call_num{
    margin: 0;
    text-align: center;
    padding: 25px 0 50px 0;
    color:  #222;
}

footer {
    background: skyblue;
    height: 200px;
    padding: 10px;
}

footer ul {
    padding: 30px 10px;
    margin: 0;
    float: right;
    list-style-type: none;
}

footer ul li {
    color: white;
}